.pop-up-bottom-demo {
  height: 273px;
}

.pop-up-left-demo {
  height: 100vh;
  width: 30vw;
  background-color: antiquewhite;
}

.pop-up-top-demo {
  height: 10vh;
  background-color: antiquewhite;
}

.pop-up-right-demo {
  width: 30vw;
  height: 100%;
  background-color: antiquewhite;
}

.pop-up-center-demo {
  height: 50vh;
  background-color: antiquewhite;
  width: 70vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
