.file-picker-wrapper {
  display: flex;
  flex-wrap: wrap;

  .file-picker-item {
    width: 74px;
    height: 74px;
    margin-bottom: 15px;
    display: inline-block;
    border: 2px solid #ddd;
    margin-right: 15px;
  }

  .file-picker-btn {
    width: 74px;
    height: 74px;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ddd;
    color: #ddd;

    .za-icon {
      color: #ddd;
    }
  }

  .file-picker-item-img {
    width: 74px;
    height: 74px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      max-width: 100%;
      height: 100%;
    }
  }
  .file-picker-closebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    cursor: pointer;

    .za-icon {
      font-size: 10px;
    }
  }
}
