.design-cmp {
  list-style: none;
  display: block;
  position: relative;
  cursor: move;
  border: 2px solid rgb(64, 158, 255);
  outline: none;

  .edit {
    position: absolute;
    opacity: 0.9;
    cursor: pointer;
    z-index: 200;
    bottom: -2px;
    right: -2px;
    height: 20px;
    width: 34px;
    border-top-left-radius: 8px;
    background: rgb(64, 158, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      opacity: 1;
    }
  }

  .sortable-ghost {
    padding: 0;
    border-top: 3px solid #266eff;
    border-style: solid;
    height: 0;
  }

  &:not(:first-child) {
    margin-top: 2px;
  }

  .mask {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 100;
    opacity: 0.4;
    &:hover,
    &.active {
      background: #b3d8ff;
    }

    &.flex {
      left: calc(100% - 34px);
    }
  }
}
